@model webtruyentranh.Models.NHAXUATBAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
  
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            &emsp;<b>Tên nhà xuất bản:</b>&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.TenNXB)
        </dd>


        <dd>
            &emsp;<b> Địa chỉ:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.Diachi)
        </dd>


        <dd>
            &emsp;<b>Điện thoại:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>
</div>
<p>
    &emsp;@Html.ActionLink("Edit", "Edit", new { id = Model.MaNXB })&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="@Url.Action("Index","Nhaxuatban")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>

</p>
<style>
    dt {
        margin: 0 50px;
    }
    dd {
        margin: 0 50px;
    }
    p {
        margin: 0 50px;
    }
</style>