
@{
    ViewBag.Title = "Chitiettruyentraphi";
    Layout = "~/Views/Shared/_LayoutChiTiet.cshtml";
}

<style type="text/css">
    #thongtintruyen a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #thongtintruyen a:hover {
            background-color: gray;
            color: red;
        }
</style>
<h3 style="color:red;font-family:'Times New Roman'">Thông Tin Chi Tiết Truyện</h3>
<div>
    <div style="width: 33%; float: left; border-right: dotted 1px; border-color: azure; border-color: azure">
        <img src="~/HinhAnh/@Model.Anhbia" />
    </div>
    <div style="width: 67%; float: left; padding: 10px 10px 100px ">
        <h4 style="font-weight:bold;color:red;font-family:Arial">Tên truyện:@Model.TenTruyen</h4>
        <p style="text-align:justify;font-family:'Times New Roman'"><span style="font-weight:bold;">Mô tả: </span>@Model.Mota</p>
        <h5 style="font-weight:bold;color:red;font-family:Arial">Giá Bán: @Model.Giaban VNĐ</h5>
        <div id="thongtintruyen">
            <a href="@Url.Action("ThemGiohang","Giohang",new { id = Model.MaTruyen,strURl=Request.Url.ToString() })" class="list-group">
                <p style="font-weight:bold;color:white;font-family:Arial">Mua Truyện</p>
            </a>
        </div>
    </div>


</div>
<div>
    <p style="font-weight:bold;font-family:Arial">@Html.ActionLink("Quay lại trang chủ", "Index")</p>
</div>

