@model webtruyentranh.Models.Truyen

@{
    ViewBag.Title = "CTTP";
    Layout = "~/Views/Shared/_LayoutCTTP.cshtml";
}


<style type="text/css">
    #thongtintruyen a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #thongtintruyen a:hover {
            background-color: gray;
            color: red;
        }
</style>
<h3>Thông Tin Chi Tiết Truyện Có Phi</h3>
<div>
    <div style="width:50%;float:left;border-left:dotted 0px;border-color:azure;padding-bottom:15px 15px">
        <img src="~/HinhAnh/@Model.Anhbia" />
    </div>
    <div style="width:50%;float:left;padding:10px 10px 30px ">
        <h4 style="font-weight:bold;color:red;font-family:Arial">Tên truyện:@Model.TenTruyen</h4>
        <p style="text-align:justify;font-family:'Times New Roman'"><span style="font-weight:bold;">Mô tả: </span>@Model.Mota</p>

        <div id="thongtintruyen">
            <a href="@Url.Action("AddToCard","ShoppingCard",new { id = Model.MaTruyen })" class="list-group">
                <p style="font-weight:bold;color:white;font-family:Arial">Mua Truyện</p>
            </a>
        </div>
    </div>


</div>
<div>
    <p style="font-weight:bold;font-family:Arial">@Html.ActionLink("Quay lại trang chủ", "Index")</p>
</div>

