

<div class="fh5co_tags_all">
    @foreach (var NHAXUATBAN in Model)
    {
       <a href="@Url.Action("SachtheoNXB", "WebTruyen", new {id=NHAXUATBAN.MaNXB})" class="fh5co_tagg">
           @NHAXUATBAN.TenNXB
       </a>





    }
</div>


