
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h1 style="text-align: center; margin-top: 150px">ADMIN</h1>
</div>
<div class="homeadmin">

    <div style="background-color: #499cd8; border-radius: 25px; width: 380px; height: 250px; margin-left: 40px; margin-top: 20px; text-align: center; float: left ">
        <a href="@Url.Action("Truyen", "Admin")">   <span style="line-height:250px; font-size:30pt;color:#fff">Quản lý truyện</span></a>
    </div>

    <div style="background-color: #499cd8; border-radius: 25px; width: 380px; height: 250px; margin-left: 40px; margin-top: 20px; text-align: center; float: left ">
        <a href="@Url.Action("Index", "DonHang")">  <span style="line-height:250px; font-size:30pt;color:#fff">Quản đơn hàng</span></a>
    </div>

    <div style="background-color: #499cd8; border-radius: 25px; width: 380px; height: 250px; margin-left: 40px; margin-top: 20px; text-align: center; float: left ">
        <a href="@Url.Action("Index", "Chuong")">  <span style="line-height:250px; font-size:30pt;color:#fff">Quản lý chương</span></a>
    </div>
</div>

<div>
    <div style="background-color: #8c98a0; border-radius: 25px; width: 595px; height: 150px; margin-left: 40px; margin-top: 20px; text-align: center; float: left ">
        <a href="https://www.facebook.com/24New-744547766269246"><span style="line-height:150px; font-size:50pt;color:#fff"> Fanpage <i class="ti-facebook" style="background-color: #0094ff; padding: 10px; border-radius: 15px"></i></span></a>
    </div>

    <div style="background-color: #0f2433; border-radius: 25px; width: 595px; height: 150px; margin-left: 40px; margin-top: 20px; text-align: center; float: left">
        <a href="https://www.youtube.com/channel/UCOMf0FAi5-qAEiot5wZsqeA?fbclid=IwAR3jNcANjCrOWNlDdfbS8mtTDq4zPsXv11VKxpr3BGAEqw62FFGMQJuZOS4"> <span style="line-height:150px; font-size:50pt;color:#fff"> YouTube <i class="ti-youtube" style="background-color:#ff0000; padding: 10px;border-radius:15px"></i></span></a>
    </div>
</div>



