<!DOCTYPE html>
<!--
    24 News by FreeHTML5.co
    Twitter: https://twitter.com/fh5co
    Facebook: https://fb.com/fh5co
    URL: https://freehtml5.co
-->
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đọc truyện tranh online</title>

    <link href="~/Content/media_query.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/style_1.css" rel="stylesheet" />
    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-3.5.0.min.js"></script>
</head>
<body>
   
    <div class="container-fluid fh5co_header_bg">
        <div class="container">
            <div class="row">
                <div class="col-12 fh5co_mediya_center">
                    <a href="#" class="color_fff fh5co_mediya_setting">
                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;Thứ 4, ngày 25 tháng 6 
                    </a>
                    <div class="d-inline-block fh5co_trading_posotion_relative">
                        <a href="#" class="treding_btn">Trending</a>
                        <div class="fh5co_treding_position_absolute"></div>
                    </div>
                    <a href="#" class="color_fff fh5co_mediya_setting">Chào mừng bạn đến trang web của chúng tôi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 fh5co_padding_menu">
                    <img src="~/images/logo.png" alt="img" class="fh5co_logo_width" />
                </div>
                <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                    <div class="text-center d-inline-block">
                        <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                    </div>
                    <div class="text-center d-inline-block">
                        <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                    </div>
                    <div class="text-center d-inline-block">
                        <a class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div></a>
                    </div>
                    <div class="text-center d-inline-block">
                        <a href="#" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                    </div>
                    <div class="text-center d-inline-block">
                        <a href="#" class="fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                    </div>
                    <div class="d-inline-block text-center dd_position_relative ">
                        <a href="#" class="fh5co_display_table"><div class="fh5co_verticle_middle"></div>Login</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
        <div class="container padding_786">
            <nav class="navbar navbar-toggleable-md navbar-light ">
                <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/images/logo.png" alt="img" class="mobile_logo_width" /></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Trang Chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Thể Loại <span class="sr-only">(current)</span></a>
                            @Html.Action("TheLoai","WebTruyen")
                           
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">Sắp Xếp<span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                                <a class="dropdown-item" href="#">Top Ngày </a>
                                <a class="dropdown-item" href="#">Top Tuần</a>
                                <a class="dropdown-item" href="#">Top Tháng</a>
                                <a class="dropdown-item" href="#">Yêu Thích</a>
                                <a class="dropdown-item" href="#">Mới Cập Nhật</a>
                                <a class="dropdown-item" href="#">Truyện Mới</a>
                                <a class="dropdown-item" href="#">Truyện Full</a>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Lịch Sử <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Theo Dõi <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="#">Thảo Luận <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                        <a class="nav-link" href="#">Fanpage <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid paddding mb-5">
        <div class="row mx-0">
            <div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
                <div class="fh5co_suceefh5co_height">
                    <img src="~/images/960.jpg" alt="img" />
                    <div class="fh5co_suceefh5co_height_position_absolute"></div>
                    <div class="fh5co_suceefh5co_height_position_absolute_font">
                        <div class="">
                            <a href="#" class="color_fff">
                                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Dec 31,2021
                            </a>
                        </div>
                        <div class="">
                            <a href="#" class="fh5co_good_font">
                                <h6>Thể loại:Action, Adventure, Comedy, Shounen, Supernatural.</h6>
                                Boku No Hero Academia
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="~/images/480300.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2021
                                    </a>
                                </div>
                                <div class="">
                                    <a href="#" class="fh5co_good_font_2">
                                        <h6>Thể loại:Action, Adventure, Comedy, Shounen, Supernatural.</h6>
                                        OnePunch Man
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="~/images/480320.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class=""><a href="#" class="color_fff"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct 28,2021 </a></div>
                                <div class="">
                                    <a href="#" class="fh5co_good_font_2">
                                        <h6>Thể loại:Action, Comedy, Drama, Fantasy, Shounen, Supernatural, Mystery.</h6>
                                        Black Clover
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="~/images/4803201.jpg" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2021
                                    </a>
                                </div>
                                <div class="">
                                    <a href="#" class="fh5co_good_font_2">
                                        <h6>Thể loại:Drama, Fantasy, Shounen, Romance, Historical.</h6>
                                        Kimetsu No Yaiba
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co_suceefh5co_height_2">
                            <img src="~/images/480274.png" alt="img" />
                            <div class="fh5co_suceefh5co_height_position_absolute"></div>
                            <div class="fh5co_suceefh5co_height_position_absolute_font_2">
                                <div class="">
                                    <a href="#" class="color_fff">
                                        <i class="fa fa-clock-o"></i>&nbsp;&nbsp;Oct
                                        28,2021
                                    </a>
                                </div>
                                <div class="">
                                    <a href="#" class="fh5co_good_font_2">
                                        <h6>Thể loại:Action, Shounen, Mystery, Horror, Historical, Tragedy</h6>
                                        Đại Chiến Titan
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>

        @RenderBody()
    </div>



    
    <div class="container-fluid pb-4 pt-5">
        <div class="container animate-box">
            <div>
                <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Truyện mới cập nhật</div>
            </div>
            <div class="owl-carousel owl-theme" id="slider2">
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="~/images/mashle-magic-and-muscles.jpg" alt="" /></div>
                        <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Mashle magic and muscles</span></a>
                            <h6>Chương 66</h6>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="~/images/nguoi-xau.jpg" alt="" /></div>
                        <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Người xấu</span></a>
                            <h6>Chương 16</h6>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="~/images/nghich-thien-chien-than.jpg" alt="" /></div>
                        <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Nghịch thiên chiến thần</span></a>
                            <h6>Chương 230</h6>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2021</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img"><img src="~/images/sozai-saishuka-no-isekai-ryokouki.jpg" alt="" /></div>
                        <div>
                            <a href="single.html" class="d-block fh5co_small_post_heading"><span class="">Sozai saishuka no isekai ryokouki</span></a>
                            <h6>Chương 27</h6>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2021</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tin tức về truyện tranh</div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="~/images/thayba.png" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7 animate-box">
                            <a href="single.html" class="fh5co_magna py-2"> "Bom tấn" truyện tranh của SBTC Esports chính thức ra mắt: Vì háo sắc nên Thầy giáo Ba cùng học trò bị cuốn vào thế giới ảo! </a> <a href="single.html" class="fh5co_mini_time py-3">
                                Nhịp sống Việt -
                                April 18,2021
                            </a>
                            <div class="fh5co_consectetur">
                                Bộ truyện tranh mang tên "Kế hoạch sống còn của team Thầy Ba" đã được mở bán chính thức vào ngày 1/2.
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="~/images/changtrai.jpg" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="single.html" class="fh5co_magna py-2"> Chàng trai 2 tuổi khoe căn phòng ngập tràn cả nghìn cuốn truyện tranh, dân mạng xuýt xoa: Cả gia tài chứ chẳng đùa! </a> <a href="#" class="fh5co_mini_time py-3">
                                Đời sống -
                                April 18,2021
                            </a>
                            <div class="fh5co_consectetur">
                                Nhìn bộ sưu tập truyện tranh của Kim, ai nấy đều thấy bồi hồi vì cả bầu trời tuổi thơ như ùa về.
                            </div>
                            <!--<ul class="fh5co_gaming_topikk pt-3">
                                <li> Why 2017 Might Just Be the Worst Year Ever for Gaming</li>
                                <li> Ghost Racer Wants to Be the Most Ambitious Car Game</li>
                                <li> New Nintendo Wii Console Goes on Sale in Strategy Reboot</li>
                                <li> You and Your Kids can Enjoy this News Gaming Console</li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img">
                                    <img src="~/images/doremon.png" alt="" />
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="single.html" class="fh5co_magna py-2"> Doraemon - chú mèo máy đã 50 tuổi nhưng bộ manga huyền thoại vẫn ẩn chứa quá nhiều bất ngờ mà ta chưa phát hiện ra</a> <a href="#" class="fh5co_mini_time py-3">
                                Thế giới -
                                April 18,2021
                            </a>
                            <div class="fh5co_consectetur">
                                Trưởng thành và đọc lại bộ manga bất hủ, dám cá bạn sẽ có thêm nhiều chiêm nghiệm mới mẻ, trải qua dư vị ngọt đắng khi nhớ về một thời tuổi thơ.
                            </div>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-5">
                            <div class="fh5co_hover_news_img">
                                <div class="fh5co_news_img"><img src="~/images/botruyen.jpg" alt="" /></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <a href="single.html" class="fh5co_magna py-2"> 10 bộ truyện tranh "must-read", đọc xong bạn sẽ thấy: Chẳng đi đâu nhiều mà vẫn vui, thi ra là ở nhà có "kho báu" này</a> <a href="#" class="fh5co_mini_time py-3">
                                Đời sống -
                                April 18,2021
                            </a>
                            <div class="fh5co_consectetur">
                                Nếu đang vật lộn với sự buồn chán vì ở nhà quá lâu, 10 bộ truyện tranh này sẽ "cứu rỗi tâm hồn" bạn.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">NXB</div>
                    </div>
                    <div class="clearfix"></div>
                    @Html.Action("NXB", "WebTruyen")
                    <div>
                        <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Lịch ra truyện<br />Ngày 20/6/2021</div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="~/images/hataraku-maou-sama-ma-vuong-di-lam09-09-2020_11g11-55.jpg" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font">
                                Ma vương đi làm
                                <h6>Chương 95</h6>
                            </div>
                            <div class="most_fh5co_treding_font_123"> 12:00 </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="~/images/kiemthan.jpg" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font">
                                Sức mạnh của kiếm thần
                                <h6>Chương 10</h6>
                            </div>
                            <div class="most_fh5co_treding_font_123"> 13:00 </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="~/images/hethongx.jpg" alt="img" class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font">
                                Hệ thống X toàn năng
                                <h6> Chương 55 </h6>
                            </div>
                            <div class="most_fh5co_treding_font_123"> 14:00</div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-5 align-self-center">
                            <img src="~/images/bankiem.jpg" alt="img"
                                 class="fh5co_most_trading" />
                        </div>
                        <div class="col-7 paddding">
                            <div class="most_fh5co_treding_font">
                                Bản Kiếm Tiên Tuyệt Không Làm Nô
                                <h6> Chương 8</h6>
                            </div>
                            <div class="most_fh5co_treding_font_123"> 15:00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 animate-box" data-animate-effect="fadeInUp">
                <div class="col-12 text-center pb-4 pt-4">
                    <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                    <a href="#" class="btn_pagging">1</a>
                    <a href="#" class="btn_pagging">2</a>
                    <a href="#" class="btn_pagging">3</a>
                    <a href="#" class="btn_pagging">...</a>
                    <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid fh5co_footer_bg pb-3">
        <div class="container animate-box">
            <div class="row">
                <div class="col-12 spdp_right py-5"><img src="~/images/white_logo.png" alt="img" class="footer_logo" /></div>
                <div class="clearfix"></div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="col-12 col-md-12 col-lg-4 ">
                        <a href="#" class="footer_img_post_6"><img src="~/images/app-store.png" alt="img" /></a>
                        <a href="#" class="footer_img_post_6"><img src="~/images/play-store.png" alt="img" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid fh5co_footer_right_reserved">
            <div class="container">
                <div class="row  ">
                    <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2021, All rights reserved. Design by <a href="https://freehtml5.co" title="Free HTML5 Bootstrap templates">FreeHTML5.co</a>. </div>
                    <div class="col-12 col-md-6 spdp_right py-4">
                        <a href="#" class="footer_last_part_menu">Trang chủ</a>
                        <a href="#" class="footer_last_part_menu">Lịch sử</a>
                        <a href="#" class="footer_last_part_menu">Theo dõi</a>
                        <a href="#" class="footer_last_part_menu">Thảo luận</a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


        <script src="~/Scripts/owl.carousel.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>
        <!-- Waypoints -->
        <script src="~/Scripts/jquery.waypoints.min.js"></script>
        <!-- Main -->
        <script src="~/Scripts/main.js"></script>

</body>
</html>