
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layoutthanhtoan.cshtml";
}

<h2>ĐƠN HÀNG CỦA QUÝ KHÁCH ĐÃ ĐƯỢC CHÚNG TÔI GHI NHẬN. CHÚNG TÔI LIÊN HỆ QUÝ KHÁCH TRONG THỜI GIAN SỚM NHẤT VÀ GIAO HÀNG ĐÚNG HẸN</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "WebTruyen");
</p>
